*{
  box-sizing: border-box;

}

.container{
  display: flex;
  text-align:left;
  flex-direction: column;
  font-family: sans-serif;


}

.gradient{
    background: #e6e6e6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #e6e6e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white,#e6e6e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #e6e6e6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #e6e6e6); /* Standard syntax */
}

.form_complete {
width: 50%;
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 10px;
margin: auto;
height: 600px;

}

.form_complete input{
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;

}

.form_information_name{
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

}

.form_information_name input{
  width: 50%;
}

.form_information_rest{
  width: 100%;
  display: flex;
  flex-direction: column;
  /*margin-top:-220px;*/
}

.header{
  /*margin-bottom: -170px;*/
}

#bday{
  font-size: 10px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.bday{
  margin-top: 15px;
}

.bdaysize{
  margin-top: 10px;
  margin-bottom: 10px;
}

.bdaysize select{
  padding: 5px;
  background-color: white;
}

fieldset{
  border: none;
}
form{
  display: flex;
  justify-content: space-around;
}

button{
  width: 60%;
  background-color: #009900;
  color:white;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  box-shadow:inset 0.3em 0.3em 0.6em rgba(256,256,256,0.5),
inset -0.3em -0.3em 0.6em rgba(0,0,0,0.5);
}

#Fails{
  display: none;
  text-align: center;
  color: red;
}
